<launch>
  <arg name="n_channel" default="8" />
  <arg name="bitdepth" default="16" />
  <arg name="mic_sampling_rate" default="16000" />

  <arg name="use_rosbag" default="false" />
  <arg name="filename" default="/" />
  <arg name="use_microphone" default="true" />

  <arg name="high_cut_freq" default="6000" />
  <arg name="low_cut_freq" default="1" />
  <arg name="spectrogram_period" default="1" />

  <arg name="gui" default="true" />
  <arg name="audio_topic" default="/audio" />
  <arg name="train_data" default="train_data" />

  <include file="$(find sound_classification)/launch/audio_to_spectrogram.launch" >
    <arg name="n_channel" value="$(arg n_channel)" />
    <arg name="bitdepth" value="$(arg bitdepth)" />
    <arg name="mic_sampling_rate" value="$(arg mic_sampling_rate)" />
    
    <arg name="use_rosbag" value="$(arg use_rosbag)" />
    <arg name="filename" value="$(arg filename)" />
    <arg name="use_microphone" value="$(arg use_microphone)" />

    <arg name="high_cut_freq" value="$(arg high_cut_freq)" />
    <arg name="low_cut_freq" value="$(arg low_cut_freq)" />
    <arg name="spectrogram_period" value="$(arg spectrogram_period)" />
    
    <arg name="gui" value="false" />
    <arg name="audio_topic" value="$(arg audio_topic)" />
    <arg name="train_data" value="$(arg train_data)" />
  </include>

  <!-- Classify sounds -->
  <node pkg="sound_classification" type="sound_classifier.py" name="sound_classifier" output="screen" >
    <remap from="~input" to="/preprocess_gray_image/output_normalized" />
    <rosparam subst_value="true">
      gpu: 0
      model_name: nin
      target_names: [no_sound, strong, weak]
      train_data: kimura_data
    </rosparam>
  </node>

  <!-- Visualize sound classification -->
  <group if="$(arg gui)">
    <node name="sound_classification_result"
          pkg="sound_classification" type="draw_classification_result.py" >
      <remap from="~input" to="/sound_classifier/output" />
      <remap from="~input/image" to="/sound_classifier/debug/net_input" />
    </node>
    <node pkg="image_view" type="image_view" name="classification_result_view"  >
      <remap from="image" to="/sound_classification_result/output" />
    </node>
  </group>

</launch>
