<launch>
  <arg name="rqt" default="true"/> <!-- visualize spectrogram, object class and camera image on rqt -->
  <!-- visualization of sound classification in rqt -->
  <node if="$(arg rqt)" pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find sound_classification)/config/sound_classification.perspective" />
  <!-- <node if="$(arg rqt)" pkg="usb_cam" type="usb_cam_node" name="usb_cam_node" /> -->
</launch>
