<launch>
  <arg name="microphone_name" default="default"/> <!-- default microphone on thinkpad T460s -->
  <arg name="length" default="512"/>
  <arg name="rate" default="44100"/>
  <arg name="cutoff_rate" default="8000"/>
  <arg name="classification" default="false"/>
  <arg name="rqt" default="false"/>

  <!-- publish sound topics from microphone -->
  <include file="$(find sound_classification)/launch/microphone.launch" >
    <arg name="microphone_name" value="$(arg microphone_name)"/>
    <arg name="length" value="$(arg length)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="cutoff_rate" value="$(arg cutoff_rate)"/>
    <arg name="classification" value="$(arg classification)"/>
    <arg name="rqt" value="$(arg rqt)"/>
  </include>

  <!-- save noise sound for 3 seconds -->
  <node pkg="sound_classification" type="save_noise_sound.py" name="save_noise_sound" output="screen" respawn="false" required="true" />

</launch>
